<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroku-Game-Jarucode</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
<h1>THIS IS TIME TO BE AWSOME WITH HEROKU! JARUCODE</h1>
</div>
    
</body>
</html>