<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Heroku-Game-Jarucode</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <!-- JS Libs -->
        <script src="js/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
        <!-- JS  -->
        <script type="text/javascript" src="js/game.js"></script>
    </head>
    <body>

        <div class="container">
            <h1>THIS IS TIME TO BE AWSOME WITH HEROKU! JARUCODE</h1>
        </div>
    </body>
</html>